* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    line-height: 1.25em;
    // font-size: 8px;
    // cursor: none;
}
*,
:after,
:before {
    box-sizing: border-box;
    flex-shrink: 0;
}
:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4;
}
html,
body {
    height: 100%;
    // overflow-x: hidden;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
button {
    background: none;
    border: 0;
    cursor: pointer;
}
a {
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul {
    list-style: none;
}
//μ„Έν…

body {
    transition: 0.5s;
    letter-spacing: -0.025em;
    font-size: 14px;
    font-family: "Pretendard", sans-serif;
    line-height: 1.2;
}
